# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Model files (opsional)
*.pkl

# Environment variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Build
build/
dist/
*.egg-info/

# Logs
*.log